.view-more-btn {
    color:#1CDAE6; 
    font-family: Helvetica;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    
}

.view-more-btn:hover {
   text-decoration: underline;
}