.about .about-img:hover {
  transform: scale(1.03);
}

.about {
  background-color: #030d19; /* Sets background color to black */
  color: white;
  padding: 110px 0;
}

.about-img,
.aboutimg {
  position: relative;
  display: inline-block;
  /* padding: 10px; */
  margin-bottom: 20px;
}

.aboutimg {
  border-width: 1px;
  border-color: #1cdae6;
}

.about-img::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  width: 100%;
  height: 100%;
  background-color: #1cdae6;
  z-index: -1; /* Behind the image */
  transform: rotate(-4deg); /* Rotate counterclockwise */
}

.aboutimg::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 100%;
  height: 100%;
  background-color: #1cdae6;
  z-index: -1; /* Behind the image */
  transform: rotate(15deg);
}
